# Dependencies
node_modules/

# Build output
dist/
dist-ssr/

# Env files
.env
.env.local
*.env.local

# Local database
mongo-data/

# Logs
*.log
npm-debug.log*

# Editor / OS
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.sw?
